.calendar {
  width         : 100%;
  border        : 1px solid #b1a594;
}


.calendar_link {
  border            : 2px solid transparent;
  padding-left      : 3px;
  padding-right     : 3px;
}
.calendar_link:hover {
  background        : url(../../../../theme/default/action_hover.png);
  border            : 2px solid #6b8bab;
  cursor            : pointer;
}

.calendar_switch {
  margin        : 1px;
  border        : 1px solid #b1a594;
  background    : #ede9e3;
}

.calendar_month {
  float         : left;
  margin        : 3px;
}

.calendar_year {
  text-align    : right;
  margin        : 3px;
}

.calendar_list {
  background    : #ffffff;
}

.calendar_list table {
  border-spacing: 0px;
  border        : 1px solid transparent;
  width         : 100%;
}

.calendar_label {
  background    : #4489ca;
  color         : #ffffff;
  text-align    : center;
  width         : 30px;
}

.calendar_day_empty
.calendar_day_event,
.calendar_day_current,
.calendar_day_active,
.calendar_day {
  width         : 30px;
  height        : 20px;
  border        : 0px solid white;
  -moz-border-radius: 8px;
  text-align    : center;
  vertical-align: middle;
}

.calendar_day:hover {
  background    : #e5e2df;
}

.calendar_day_current {
  background    : #4489ca;
  color         : #ffffff;
}

.calendar_day_event {
  cursor        : pointer;
  font-weight   : bold;
}
.calendar_day_event:hover {
  background    : #FF5555;
  color         : #ffffff;
}

.calendar_day_active {
  background    : #4489ca;
  color         : #ffffff;
  cursor        : pointer;
  font-weight   : bold;
}
