.panel{
  position      : absolute;
  border-right  : 0px red solid;
  margin        : 5px;
  padding       : 0px;
  -moz-border-radius: 10px;
}

.panel_line {
  position      : relative;
  border        : 0px red solid;
  min-height    : 30px;
  margin-bottom : 5px;
  padding       : 0px;
  -moz-border-radius: 10px;
  text-align    : center;
}


