.menu_box {
  margin-left  : 10px;
  margin-right : 10px;
  margin-top   : 0px;
  margin-bottom: 5px;
  border-top   : 0px solid #979a9d;
  border-left  : 1px solid #111111;
  border-right : 1px solid #111111;
}

.menu_box_title {
  border-bottom: 0px solid #979a9d;
  background   : url(background_title.png) center;
  padding      : 3px;
  font-weight  : bold;
  color        : #e8e8e8;
}

.menu_box_open {
  float         : right;
  width         : 13px;
  height        : 13px;
  margin        : 0px;
  margin-top    : 2px;
  background    : url(arrow_top2bottom.png);
}
.menu_box_open:hover {
  background    : url(arrow_top2bottom_hover.png);
  cursor        : pointer;
}
.menu_box_close {
  float         : right;
  width         : 13px;
  height        : 13px;
  margin        : 0px;
  margin-top    : 2px;
  background    : url(arrow_right2left.png);
}
.menu_box_close:hover {
  background    : url(arrow_right2left_hover.png);
  cursor        : pointer;
}
.menu_box_data {
  border-bottom: 1px solid #111111;
  background   : #474747;
}
.menu_box_option {
  padding      : 5px;
  color        : #e8e8e8;
}
.menu_box_option:hover {
  background    : url(option_hover.png);
  color         : #FFFFFF;
  cursor        : pointer;
}
.green {
  background    : #EEFFEE;
}
.yellow {
  background    : #FFFFEE;
}
.red {
  background    : #FFEEEE;
}
.orange {
  background    : #FFF4EE;
}
