.menu_vertical {
  position      : absolute;
  color         : #000000;
  background    : url(background.png);
  border-top    : 1px solid #BBBBBB;
  border-bottom : 1px solid #BBBBBB;
  border-left   : 1px solid #BBBBBB;
  border-right  : 1px solid #BBBBBB;
  padding       : 0px;
  margin        : 0px;
  z-index       : 100;
  text-align    : center;
}

.menu_vertical_option {
  text-align    : center;
  margin-bottom : 1px;
  margin-left   : 0px;
  margin-right  : 0px;
  padding       : 5px;
}

.menu_vertical_option:hover {
  background    : url(foreground.png);
  color         : #FFFFFF;
  cursor        : pointer;
}

.menu_vertical_separator {
  background    : #AAAAAA;
  height        : 0px;
  margin-top    : 2px;
  margin-bottom : 2px;
  border-top    : 1px solid #AAAAAA;
  margin-left   : 8px;
  margin-right  : 8px;
}
