.menu_block_manager {
  position      : absolute;
  top           : 0px;
  bottom        : 0px;
  left          : 0px;
  right         : 2px;
  overflow      : hidden;
  padding       : 0px;
  margin        : 0px;
}

.menu_block_manager_close,
.menu_block_manager_open {
  position      : absolute;
  top           : 0px;
  bottom        : 0px;
  right         : 0px;
  margin-right  : 0px;
  z-index       : 101;
  width         : 8px;
  background    : url(arrow_right2left.png) right center no-repeat;
}

.menu_block_manager_open:hover {
  background    : url(arrow_right2left_hover.png) right center no-repeat;
  cursor        : pointer;
}

.menu_block_manager_close {
  background    : url(arrow_left2right.png) right center no-repeat #ebeced;
}

.menu_block_manager_close:hover {
  background    : url(arrow_left2right_hover.png) right center no-repeat #ebeced;
  cursor        : pointer;
}

.menu_block_title {
  position      : absolute;
  left          : 0px;
  right         : 1px;
  background    : url(background_title.png) center;
  font-size     : 14px;
  font-weight   : bold;
  border-bottom : 1px solid #a99d8c;
  height        : 20px;
  line-height   : 22px;
}

.menu_block_title:hover {
  cursor        : pointer;
}

.menu_block_content {
  position      : absolute;
  left          : 0px;
  right         : 1px;
  bottom        : 0px;
  overflow      : auto;
  border-bottom : 1px solid #a99d8c;
  padding-bottom: 0px;
  padding-top   : 5px;
}

